.section {
  padding: 20px;
  background-color: #121212;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.form {
  display: flex;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  margin-right: 10px;
  width: 300px;
}

.button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:disabled {
  background-color: #666;
  cursor: not-allowed;
}

.button:hover {
  background-color: #444;
  transform: scale(1.05);
}

.noResults {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pageButton {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pageButton:disabled {
  background-color: #666;
  cursor: not-allowed;
}

.pageButton:hover {
  background-color: #444;
  transform: scale(1.05);
}

.pageInfo {
  color: #bbb;
  font-size: 16px;
}
